<div class="slider">
    <div (swiperight)="nextSlide()" (swipeleft)="prevSlide()">
        <app-loading-spinner *ngIf="isImageLoading"></app-loading-spinner>
        <ng-template ngFor [ngForOf]="images" let-image let-i="index">
            <img
                    class="slide slide-animation nonDraggableImage"
                    *ngIf="isCurrentSlideIndex(i)"
                    [src]="image"
                    (load)="isImageLoading = false"
            />
        </ng-template>
    </div>
    <button class="arrow prev" (click)="nextSlide()"></button>
    <button class="arrow next" (click)="prevSlide()"></button>
</div>
