.component {
    height: max-content;
    margin: 0;
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.card {
    height: 85vh;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card::-webkit-scrollbar {
    display: none;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.msg_container {
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    margin: 10px 20px  5px 5px;
    position: relative;
}

.send_btn {
    border-radius: 0 15px 15px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: white;
    cursor: pointer;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 0;
    color: white;
    height: 60px;
    overflow-y: auto;
}
