<div class="container slider">
  <div>
    <ng-template ngFor [ngForOf]="images" let-image let-i="index">
      <img
        class="slide slide-animation nonDraggableImage"
        *ngIf="isCurrentSlideIndex(i)"
        (swiperight)="nextSlide()"
        (swipeleft)="prevSlide()"
        [src]="image"
      />
    </ng-template>
  </div>

  <button class="arrow prev" (click)="nextSlide()"></button>
  <button class="arrow next" (click)="prevSlide()"></button>
  <nav class="nav">
    <div class="wrapper">
      <ul class="dots">
        <li class="dot" *ngFor="let slide of slides; let i = index">
          <span
            [ngClass]="{ active: isCurrentSlideIndex(i) }"
            (click)="setCurrentSlideIndex(i)"
            >{{ slide.description }}</span
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
