<p>
  <mat-toolbar >
    <span>Bril kwijt . NL</span>
  </mat-toolbar>
</p>
<mat-grid-list cols="1" rowHeight="100%">
  <mat-grid-tile>
    <mat-card >
      <mat-card-content class="card-content">
        <button mat-fab extended routerLink="['/brilgevonden']" (click)="goToBrilGevonden()">
          <mat-icon>arrow_right_alt</mat-icon>
          Bril gevonden?
        </button>
        <div class="divider"></div>

        <button mat-fab extended class="button">
          <mat-icon>arrow_right_alt</mat-icon>
          Bril kwijt?
        </button>
      </mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list>

