<div class="background">
  <div class="container">
    <mat-spinner *ngIf="displayProgressSpinner"></mat-spinner>
    <div class="card">
      <mat-form-field class="inputField" appearance="outline">
        <mat-label>Titel</mat-label>
        <div [formGroup]="titelFormGroup">
          <input
            type="text"
            matInput
            placeholder="Titel"
            formControlName="titel"
          />
        </div>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="lostAt" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <app-address-from-component></app-address-from-component>
      <mat-form-field class="inputField" appearance="outline">
        <mat-label>Beschrijving</mat-label>
        <div [formGroup]="descriptionFormGroup">
          <input
            type="text"
            matInput
            placeholder="Beschrijving"
            formControlName="description"
          />
        </div>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <div class="container">
        <app-upload-images
          (change)="getSelectedFiles($event)"
        ></app-upload-images>
      </div>
      <button mat-flat-button type="submit" color="primary" (click)="goHome()">
        Upload
      </button>
    </div>
  </div>
</div>
