<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput  formControlName="lostAt" [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<p></p>
<p>
  <app-autocomplete-maps></app-autocomplete-maps>
</p>
<mat-form-field appearance="outline">
  <mat-label>Beschrijving</mat-label>
  <div [formGroup]="formGroup">
    <input
      type="text"
      matInput
      placeholder="Placeholder"
      formControlName="description"
    />
  </div>

  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<div class="container">
  <app-upload-images onchange="onchange($event)"></app-upload-images>
</div>
<button mat-flat-button type="submit" color="primary" (click)="goHome()">
  Upload
</button>
