<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date" />
    <input matEndDate formControlName="end" placeholder="End date" />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<p></p>
<p>
  <app-autocomplete-maps></app-autocomplete-maps>
</p>
<mat-form-field appearance="outline">
  <mat-label>Beschrijving</mat-label>
  <div [formGroup]="formGroup">
    <input
      type="text"
      matInput
      placeholder="Placeholder"
      formControlName="description"
    />
  </div>

  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<div class="container">
  <app-upload-images></app-upload-images>
</div>
<button mat-flat-button type="submit" color="primary" (click)="goHome()">
  Upload
</button>
