/* loading-spinner.component.css */

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* semi-transparent background */
    z-index: 9998; /* lower z-index than spinner, but higher than other content */
}

.spinner {
    width: 150px;
    height: 150px;
    border: 10px solid #7a8ef6; /* Solid border color */
    border-top-color: transparent; /* Transparent top border to create the spinner effect */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
