
<form [formGroup]="addressForm">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
              <input matInput  placeholder="Street" formControlName="street" (change)="onInputChange($event)"/>
            <mat-error *ngIf="addressForm.controls['street'].hasError('required')">
              Street is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input  matInput placeholder="City" formControlName="city" (change)="onInputChange($event)" />
            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input
              matInput
              #postalCode
              maxlength="6"
              placeholder="Postal Code"
              type="string"
              formControlName="postalCode"
              (change)="onInputChange($event)"
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 6</mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="half-width">
              <input matInput placeholder="HouseNr" formControlName="houseNr" (change)="onInputChange($event)"/>
              <mat-error *ngIf="addressForm.controls['houseNr'].hasError('required')">
                House number is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
