<div class="backgound">
  <mat-grid-list cols="1" rowHeight="80%">
    <mat-grid-tile>
      <mat-card class="card-content">
        <mat-card-content>
          <button mat-fab extended (click)="goToBrilGevonden()">
            <mat-icon>arrow_right_alt</mat-icon>
            Bril gevonden?
          </button>
          <div class="divider"></div>
          <button mat-fab extended class="button" (click)="goToGevondenBrillen()">
            <mat-icon>arrow_right_alt</mat-icon>
            Bril kwijt?
          </button>
          <button *ngIf="!(auth.isAuthenticated$ | async)" (click)="login()">Log in</button>
          <button *ngIf="(auth.isAuthenticated$ | async ) && !(auth.isLoading$ | async)" (click)="logout()">
            Log out
          </button>
          <ul *ngIf="auth.user$ | async as user">
            <li>{{ user.name }}</li>
            <li>{{ user.email }}</li>
          </ul>`
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
