<mat-card *ngIf="bril">
  <div class="container" *ngIf="images">
        <!-- TODO fix here -->
    <app-image-slider [images]="images"></app-image-slider>
  </div>
      <mat-card-header>
      <mat-card-title>{{bril.titel}}</mat-card-title>
      <mat-card-subtitle>{{bril.lostAtDate}}</mat-card-subtitle>
      <mat-card-subtitle>{{bril.color}}</mat-card-subtitle>
      <mat-card-subtitle>{{bril.address.street}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{bril.description}}</p>
    </mat-card-content>
  </mat-card>
